@import"extend";


/*-------componentes index---------*/
.index {
    background-image: url(../img-background/fondoIndex.jpg);
    background-repeat: no-repeat;
    background-position: contain;
}
/*------- fin componentes index---------*/
