@import"extend";


//contenido reservas

.reservas {
    background-color: hsl(29, 44%, 73%);
}

.main-mesas {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.main-mesas {
    .titulo-mesas {
        font-family: 'roboto', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grid-container-mesas {

        width: 60%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, .9fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 25px;
        padding: 20px;
        justify-content: space-around;
    }

    .item1 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item2 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item3 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item4 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item5 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item6 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item7 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item8 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item9 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item10 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item11 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item12 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    div .btn-reserva {
        display: flex;
        width: 70px;
        height: 30px;
        background-color: rgb(182, 204, 224);
        font-size: 14px;
        font-family: sans-serif;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        font-weight: bold;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-style: none;
    }

    .btn-reserva:hover {
        cursor: pointer;
        color: rgb(27, 128, 175);
        background-color: #fff;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -ms-transition: background-color .5s;
        -o-transition: background-color .5s;
    }

}

