@import"extend";
@import"mixin";


//contenido reservas

.reservas {
    background-color: hsl(29, 44%, 73%);
}

.main-mesas {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%; 
   
    h2{
        text-align: center;
        font-size: 22px;
        font-family: roboto;
        color: #fff;
    }
    h3{
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
}

.main-mesas {
    .titulo-mesas {
        font-family: 'roboto', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grid-container-mesas {

        width: 60%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, .9fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 25px;
        padding: 20px;
        justify-content: space-around;
    }

    .item1 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item2 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item3 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item4 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item5 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item6 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item7 {
        background-image: url(../img-reservas/work-table.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item8 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item9 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item10 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item11 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    .item12 {
        background-image: url(../img-reservas/table-of-four.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-content: space-between;
        align-items: center;
    }

    div .btn-reserva {
        display: flex;
        width: 70px;
        height: 30px;
        background-color: rgb(182, 204, 224);
        font-size: 14px;
        font-family: sans-serif;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        font-weight: bold;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-style: none;
    }

    .btn-reserva:hover {
        cursor: pointer;
        color: rgb(27, 128, 175);
        background-color: #fff;
        transition: background-color .5s;
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -ms-transition: background-color .5s;
        -o-transition: background-color .5s;
    }

}

//Donde empieza los suenos
.boton-modal {
    padding: 40px;
    background-color: #fff;
}

.boton-modal label {
    padding: 10px 15px;
    background-color: #5488a3;
    color: rgb(247, 243, 243);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover {
    background-color: #185E83;
}

//Ventana Modal
#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked~.container-modal {
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;

    h2 {
        font-family: Roboto, arial, helvetica;
        margin-bottom: 15px;
    }

    p {
        padding: 15px 0px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
}


.content-modal {
    .btn-cerrar {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
}

.content-modal {
    .btn-cerrar label {
        padding: 7px 10px;
        background-color: #5488a3;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
    }
}

.content-modal {
    .btn-cerrar label:hover {
        background-color: #185E83;
    }
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1d7b6
}


input::placeholder {
    color: #fff;
}

.div-h2 {
    text-align: center;
}

.div-p {
    p {
        font-size: 15px;
        font-family: Roboto, arial, helvetica;
        text-align: center;
        color: #185E83;
        font-weight: 700;
        padding: 15px 0px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
}

.texto-final {
    margin-top: 25px;
}

.div-input {
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    input {
        background-color: rgb(175, 171, 171);
        text-align: center;
        height: 35px;
        color: #fff;
        font-family: sans-serif;
        font-size: 18px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-style: none;
    }

}

.mensaje-final {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .texto-final {
        font-size: 15px;
        font-family: Roboto, arial, helvetica;

    }
}

.img-form-reserva {
    margin-top: 15px;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-cerrar {
    label {
        font-size: 15px;
        font-family: Roboto, arial, helvetica;
    }
}



@include form-reservas{
    .content-modal {
        width: 90%;
    }

    input {
        width: 60%;
        font-size: 15px;
    }
}

//Fin Ventana Modal
/*----- Fin de componentes reservas---*/