
    $colorfacebook: #3b5999;
    $colorinstagram: #e4405f;
    $colortwitter: #55acee;
    $colorlinkedin: #2b6694;
    $colorwhatsapp: #00bb2d;
    $colorhearder:#706a6a;
    $colofooter:#706a6a;
    $coloh3general:#fff;
    $coloh4general:#fff;


   


