
// valores para mixin en @mediaquery
$anchominimo:317px;
$anchomaxino:770px;

 //variables para menu Navegación ul 
 $sizeLiminimofont:771px;
 $sizeLimaximofont:885px;

 // variables para reduccion de menu de navegacion 

 $valorResta:5;
 $valorSuma:10;

 $tamanoFuenteNav:25px;
  